
.fa-book, .fa-home, .fa-plus, path {
  color: #e90b85;
}

#artist-img {
  width: 200px;  /* Define um tamanho fixo */
  height: auto;   /* Mantém a proporção original */
  max-width: 100%; /* Evita que fique maior que o container */
  border-radius: 8px; /* (Opcional) Adiciona bordas arredondadas */
  display: block; /* Garante um posicionamento adequado */
  margin: 10px auto; /* Centraliza a imagem */
}



/*MEDIA-QUERY*/


@media screen and (max-width: 1015px) {
  .offer__list-item {
      grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 768px) {
  .offer__list-item {
      grid-template-columns: 1fr;
  }

.sidebar span{
 font-size: 1.3rem;
}

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-playlist__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



span.text.title {
  text-align: center;
}



h2.session {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.main-container {
  margin-right: 50px;
}

.header__navigation {
      flex-direction: column;
      height: 150px;
      
  }

  .playlist-container {
      width: 100%;
      margin-left: 25px;
      height: 65%;
  }
  
  div.header__search {
      width: 100%;
  }

  
  nav.header__navigation {
      width: 100%;
  }
  
  .languages .languages__button {
      width: 100%;
  }
}




/*425*/

@media screen and (max-width: 425px){
  .offer__list-item {
      grid-template-columns: 1fr;
  }

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-playlist__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span.text.title {
  text-align: center;
}


h2.session {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.main-container {
  width: 65%;
  height: auto;
  margin-right: 50px;
}

.header__navigation {
      flex-direction: column;
      height: 150px;
      
  }

  .playlist-container {
      width: 100%;
      margin-left: 25px;
      height: 65%;
  }

  
div.header__search {
      width: 100%;
  }


nav.header__navigation {
      width: 100%;
  }

  
.playlist-container {
  width: 100%;
  margin-left: 25px;
  height: 65%;
}

div.header__search {
  width: 100%;
}


.languages .languages__button {
  width: 100%;
}


}

