
.fa-book, .fa-home, .fa-plus, path {
  color: #e90b85;
}

#artist-img {
  width: 200px;  /* Define um tamanho fixo */
  height: auto;   /* Mantém a proporção original */
  max-width: 100%; /* Evita que fique maior que o container */
  border-radius: 8px; /* (Opcional) Adiciona bordas arredondadas */
  display: block; /* Garante um posicionamento adequado */
  margin: 10px auto; /* Centraliza a imagem */
}



/*MEDIA-QUERY*/









/*425*/


